body {
	font: 75%/1.5 "Helvetica Neue", Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#container {
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 0 0;
	width: 1000px;
}
.bad  { background: transparent; color: red; }
.okay { background: transparent; color: #FF9900; }
.good { background: transparent; color: green; }
.norm { font-weight: normal; }

.object-group {
	border: 7px solid #ccc;
	margin-bottom: 14px;
	padding: 7px;
}

#performance {
	width: 400px;
	height: 150px;
}

.line-items,
.campaigns {
	width: 480px;
}
.line-items {
	float: left;
}
.campaigns {
	float: right;
}

.column-head {
	margin-bottom: 10px;
	/* text-align: center; */
}

.campaign,
.line-item {
	background: #eee;
	border: 1px solid #ccc;
	padding: 10px;
}
.campaign {
	margin-top: -1px;
	padding: 4px 10px;
}

.clearfix:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}